@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --nav-color: #1b2530;
  --background-color: #0f171e;
  --nav-search-color: #121926;
  --dropdown-category-background-color: rgba(255, 122, 89, 0);
  --dropdown-category-text-color: rgba(255, 255, 255, 0.6);
  --nav-text-color: rgba(242, 244, 246, 0.9);
  --text-color: white;
  --button-dark-color: #1f80e0;
  --button-light-color: #3bb2f6;
  --card-text-background-color-one: rgba(4, 8, 15, 0);
  --card-text-background-color-two: #192133;
  --card-button-background-hover-color: #373d4a;
  --active-color: #333333;
  --nav-side-padding: 1rem;
  --body-side-padding: 1rem;
  --text-font: "Ubuntu", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--text-font);
}

body {
  margin: 0;
}

.App {
  background-color: var(--background-color);
  min-height: 100vh;
  width: 100%;
  color: var(--text-color);
  padding-bottom: 2rem;
}

button:hover {
  cursor: pointer;
}
